{% extends 'base.html' %}

{% block content %}

    <h1 class="text-3xl font-bold mb-6 text-center">Expense Tracker</h1>

    <div class="grid grid-cols-2 gap-12">

        <div class="col-span-1 w-full mx-auto bg-white p-6 rounded-lg shadow-md mb-6">
            <h2 class="text-2xl font-semibold mb-4">Add Expense</h2>

            <input type="text" placeholder="Category" id="category" class="border p-2 w-full mb-3 rounded-lg">
            <input type="number" placeholder="Amount" id="amount" class="border p-2 w-full mb-3 rounded-lg">
            <button id="add_expense" class="bg-blue-500 text-white py-2 px-4 rounded-lg shadow hover:bg-blue-600 w-full">Add Expenses</button>

        </div>
        
        <div class="col-span-1 w-full mx-auto bg-white p-6 rounded-lg shadow-md">

            <h2 class="text-2xl font-semibold mb-4">Your Expenses</h2>

            <ul id="expense_list">
                {% for expense in expenses %}
                    <li class="flex justify-between items-center py-2 border-b">
                        <span>{{expense.category}}: ${{expense.amount}}</span>
                        <button class="text-red-500 delete_expense" data-id="{{expense.expense_id}}">Delete</button>
                    </li>
                {% endfor %}
            </ul>

            <a href="{{url_for('view_chart')}}" class="mt-4 inline-block bg-green-500 text-white py-2 px-6 rounded-lg shadow hover:bg-green-600 w-full text-center">View Chart</a>

        </div>

    </div>

{% endblock %}